
<!--footer.hbs
//  CSC648-su19-Team04
//  The Better City
//  Created by Maithri on 08/08/19.
//  Copyright © CSC-648/848 Team 04. All rights reserved.
-->

<footer class="footer-area p-0">
  <div class="container">
    <div class="row">
      <div class="footer-bottom align-items-center text-center w-100">
      <p>  Copyright &copy; CSC-648/848 Team 04</p>
      </div>
    </div>
</footer>
<!-- End header MEnu Area -->
<script src="js/jquery-2.2.4.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/stellar.js"></script>
<script src="vendors/popup/jquery.magnific-popup.min.js"></script>
<script src="js/jquery.ajaxchimp.min.js"></script>
<script src="js/waypoints.min.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/contact.js"></script>
<script src="js/jquery.form.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/mail-script.js"></script>
<script src="js/theme.js"></script>


<script>
  // Get the modal
  // var modal = document.getElementById("myModal");
  //
  // // Get the image and insert it inside the modal - use its "alt" text as a caption
  // var img = document.getElementById("myImg");
  // var modalImg = document.getElementById("img01");
  // var captionText = document.getElementById("caption");
  // img.onclick = function() {
  //   modal.style.display = "block";
  //   modalImg.src = this.src;
  //   captionText.innerHTML = this.alt;
  // }
  //
  // // Get the <span> element that closes the modal
  // var span = document.getElementsByClassName("close")[0];
  //
  // // When the user clicks on <span> (x), close the modal
  // span.onclick = function() {
  //   modal.style.display = "none";
  // }
</script>
