<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About me</title>


    <link rel="stylesheet" type="text/css" href="../css/AboutMeStyle.css">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body >

  <div class="container">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">

								<h1> <span>About Me</span></h1>
              </div>
            </div>

          <div class="row">
            <div class="col-sm-4">
              <img src="../images/maithri.jpg" class="img-rounded" alt="maithri" width="225" height="225">
            </div>
            <div class="col-sm-8">
              <p>Hi! I'm Maithri,currently a graduate student in Computer Science at CSU East Bay.</p>
              <p>My Technical proficiencies include:
            <br>  Programming Languages: Java, C++, Python, JavaScript
                <br>Database:MySQL
                <br>Servers: Apache Tomcat, Nginx
                <br>Other skills: Selenium WebDriver, Bootstrap</p>
                <p>I'm attracted to working in a team that enjoys exploring new technologies and solves real customer problems. My interests other than being a computer science enthusiast is playing chess, learning new languages and hiking.
                </p>
            </div>
          </div>


  <div class="footer">

                              <a href="https://github.com/Maithri-CH"><i id="social-gh" class="fa fa-github-square fa-3x social"></i></a>
                                <a href="https://www.linkedin.com/in/maithri-ch/"><i id="social-li" class="fa fa-linkedin-square fa-3x social"></i></a>
                                <a href="https://www.facebook.com/my3.maithri"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                                <a href="mailto:maithrich3@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
  </div>

</div>



</body>
</html>
