<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About me</title>


    <link rel="stylesheet" type="text/css" href="../css/AboutMeStyle.css">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body >

  <div class="container">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
              <div class="about-title clearfix">
								<h1> <span>About Me</span></h1>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <img src="../img/FengzeYou.jpg" class="img-rounded" alt="FengzeYou" width="270" height="230">
            </div>

            <div class="col-sm-8">
              <p class="about-para">Hi! My name is Fengze You, I am a garduating senior in SFSU.</p>
              <p>My Technical proficiencies include: </p>
              <p>Programming Languages: Java, JavaScript, C++.
                <br>Database:SQL
              <p><class="fab fa-angular">
              </p>
            <p>I would like to be a game desinger.</p>
            </div>
          </div>
          <style type="text/css">
          p{color: white}
          </style>

  <div class="footer">

                              <a href="https://github.com/FengzeYou123123"><i id="social-gh" class="fa fa-github-square fa-3x social"></i></a>
                                <a href="https://www.linkedin.com/in/fengze-you-269631183/"><i id="social-li" class="fa fa-linkedin-square fa-3x social"></i></a>
                                <a href="https://www.facebook.com/profile.php?id=100008826013180"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                                <a href="FengzeYou:fyou@mail.sfsu.edu"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
  </div>

</div>



</body>
</html>
