<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About me</title>


    <link rel="stylesheet" type="text/css" href="../css/AboutMeStyle.css">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body >

  <div class="container">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
              <div class="about-title clearfix">
								<h1> <span>About Me</span></h1>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <img src="../img/soham.jpg" class="img-rounded" alt="soham" width="200" height="200">
            </div>
            <div class="col-sm-8">
              <p class="about-para">Hi! I'm Soham. Currently pursuing Masters in Computer science at California State University Eastbay. I like to develop different kind of web applications. Mostly I have experience in a web based Document management system. </p>
              <p>My Technical proficiencies include: </p>
              <p>Programming Languages: Java, Spring Framework, JavaScript, ExtJS
                <br>Database: MySQL, Oracle, SQL Server
                <br>Servers: Apache Tomcat

              <p><class="fab fa-angular">
              </p>
            </p>
			<p>My interests other than IT professional are Travelling, listening Musics and watching movies.</p>
            </div>
          </div>


  <div class="footer">

                              <a href="https://github.com/sprajapati710"><i id="social-gh" class="fa fa-github-square fa-3x social"></i></a>
                                <a href="https://www.linkedin.com/in/soham-prajapati-09873677"><i id="social-li" class="fa fa-linkedin-square fa-3x social"></i></a>
                                <a href="https://www.facebook.com/soham.prajapati.587"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                                <a href="mailto:sprajapatice@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
  </div>

</div>



</body>
</html>
