<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About me</title>


    <link rel="stylesheet" type="text/css" href="../css/AboutMeStyle.css">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body >

  <div class="container">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">

								<h1> <span>About Me</span></h1>
              </div>
            </div>

          <div class="row">
            <div class="col-sm-4">
              <img src="../images/ZeyuanCai.jpg" class="img-rounded" alt="ZeyuanCai" width="300" height="400">
            </div>
            <div class="col-sm-8">
              <br/> <br/>
              <p>Hello Everyone. I am Zeyuan(Ryan) Cai, I am a Undergraduate Student in San Francisco State University studying in Computer Science. I have passion for Mordern Techology and that is the reason why I choose CS as my major. Other than CS, I also enjoy playing Video games, playing basketball, camping and hiking. </p>
              <br/> <br/>
              <p><strong>Programming Languages:</strong> Java, JavaScript, Bootstrap, C++, SQL, R <br/> <br/>
                <br><strong>Soft Skills:</strong> Communication(Speaking and Listening), Quick learner, Probelm Solving, Passionate for work,  Team-player <br/> <br/>
                <br> <strong>Languages:</strong> English, Chinses(Mandarin)
                </p>
            </div>
          </div>


  <div class="footer">

                              <a href="https://github.com/czycaizeyuan"><i id="social-gh" class="fa fa-github-square fa-3x social"></i></a>
                                <a href="https://www.linkedin.com/in/zeyuancai/"><i id="social-li" class="fa fa-linkedin-square fa-3x social"></i></a>
                                <a href="https://www.facebook.com/czycaizeyuan"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
                                <a href="mailto:czycaizeyuan@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
  </div>

</div>



</body>
</html>
