<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>About me</title>

    <link rel="stylesheet" type="text/css" href="../css/AboutMeStyle.css">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body >

  <div class="container">
          <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
              <div class="about-title clearfix">
								<h1> <span>About Me</span></h1>
                <h2></h2>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-4">
              <img src="../img/Bahar.jpg" class="img-rounded" alt="Bahar" width="240" height="250">
            </div>
            <div class="col-sm-8">
              <p class="about-para">My name is Bahar, and I am an undergrad student in Computer Science major.
                Although I see myself a true San Diegan, but I'm originally from Iran. Iranian government does
                not allow me and other people of my religion to have higher education, so I moved
                to the U.S. ten years ago to follow my goals and achieve my dreams. I started my undergrad degree
                at the University of Illinois, but then I had to move back to California and have the opportunity
                to get my degree from San Francisco State University</p>
              <p>In the world of Computer Science, I have more experience in some programming languages
                like Java, C, C++, JavaScript, and HTML.</p>
              <p>My hunger for knowledge and determination to turn information into action
                formed some of my professional and personal accomplishments, including: </p>
              <p>- Undergrad minor degree in Math
                <br>- Associate degree in Math and science
                <br>- Second place in Math and Science Olympiad
                <br>- Software engineer in a startup program in San Diego
                <br>- ACM (Association for Computing Machinery) leader at University of Illinois
                <br>- Manager at Wells Fargo and US Bank in San Diego</p>

              <p><class="fab fa-angular">
              <p></p>
            <p>Hobbies are a way of escaping daily routine, and gaining experience without feeling
              pressure. Some of my outside hobbies and interests as a Computer Science major student
              and a programmer are:
              <br>Writing, cinema and watching movies, going to the beach, hiking, reading, and of course shoe shopping!
              <br>My friends are my family and hanging out with them is one of my biggest interests.</p>
            </div>
          </div>

  <div class="footer">

          <a href="https://github.com/baharmoattar"><i id="social-gh" class="fa fa-github-square fa-3x social"></i></a>
          <a href="https://www.linkedin.com"><i id="social-li" class="fa fa-linkedin-square fa-3x social"></i></a>
          <a href="https://www.facebook.com/baharmoattarr"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
          <a href="mailto:moattar.bahar@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
  </div>
</div>
</body>
</html>
