
<!-- Write your comments here  Contact.html
//  CSC648-su19-Team04
//  The Better City
//  Created by Maithri on 7/28/19.
//  Copyright © CSC-648/848 Team 04. All rights reserved.
-->

<!--================ Start header Top Area =================-->
<section class="header-top">
  <div class="container">
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <a href="/" class="logo">
          <img src="img/logo.png" style="height:10%;width:40%" alt="">
        </a>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 logo-wrapper">
        <h4>SFSU Software Engineering Project CSC 648-848, Summer 2019</h4>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 search-trigger">
        <div class="right-button">
          <ul>
            <li><a class="" href="" data-toggle="modal" data-target="#loginModal">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-lg-12">
        <h6>We help you check the environmental issues and connect to the right authority in reporting them. Together, our passion for nature can make a difference in preserving our green space! </h6>
      </div>
    </div>
  </div>

</section>
<!--================ End header top Area =================-->
