<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Website Under Construction</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <!-- Google Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Coustard' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet'
        type='text/css'>
        <link href="css/HomePageStyle.css" rel="stylesheet" />
    <!-- background image -->
<style>
#section1{
background-image: url(images/3.jpg);
background-repeat:no-repeat;
    background-size:100% 100%;
}
#section2 {
background-image: url(images/3.jpg);
background-repeat:no-repeat;
    background-size:100% 100%;
}
</style>
</head>
<!-- data-scroll-reveal js removed -->

<body >
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-inverse navbar-fixed-top">

  <ul class="nav navbar-nav">
    <li><a href="#section1">Home</a></li>
    <li><a href="#section2">About</a></li>
  </ul>

  <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>

</nav>
<!-- home section starts -->
    <div id="section1">
    <header id="header" >
        <div class="header-overlay">
            <div class="container">

                <div class="hexagon">
                  <span></span>
                </div>
                <!-- Main content of Home starts -->
                <div class="main-head">
                    <h2 >
                        Something awesome is coming soon</h2>
                    <p >
                        We are building something very cool. Stay tuned and be patient. Your patience will
                        be well paid.</p>
                </div>
                <!-- Main content Ends -->
            </div>

            <!-- Launching on  -->

            <div id="countdown-area">

                <ul class="countdown">
                    <li>
                        <h2 >Launching on
                        </h2>
                    </li>
                    <li><span>08</span>

                    </li>
                    <li><span>16</span>

                    </li>
                    <li><span>2019</span>

                    </li>
                </ul>

            </div>
            <!-- launch date block Ends -->

        </div>
    </header>
    <!-- home Section Ends -->
  </div>



    <!-- about Section Starts -->
    <div id="section2">
    <section id="services">
        <div class="services-overlay">
            <div class="container">

                <div class="main-head">
                    <h2>About Us</h2>
					<h5>
                        Team 4  </h5>
                    <br />
                    <p>
                        Our Mission : Develop a website to report and search for environmental issues.
                    </p>
                </div>

                <div id="services-blocks" class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sblock">

                        <h4>
                            Front End Developers</h4>
                        <p>
                          <a href="AboutMe_HTML/Aboutme_Bahar.html">Bahar</a>
                          <br><a href="AboutMe_HTML/Aboutme_FengzeYou.html">Fengze</a>
                          <br><a href="AboutMe_HTML/Aboutme_Soham.html">Soham</a>
                          <br><a href="AboutMe_HTML/Aboutme_ZeyuanCai.html">Zeyuan</a>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sblock">

                        <h4>
                            Back End Developers</h4>
                        <p>
                          <a href="AboutMe_HTML/Aboutme_Aashutosh.html">Aashutosh</a>
                            <br><a href="AboutMe_HTML/Aboutme_maithri.html">Maithri</a>
                          <br><a href="AboutMe_HTML/Aboutme_patreck.html">Patreck</a>
                          <br><a href="AboutMe_HTML/Aboutme_ziping.html">Ziping</a>
                        </p>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 sblock">

                        <h4>
                            Class Details</h4>
                        <p>
                         CSC 648-848 Software Engineering (SE) Course
                          <br> Summer 2019
                          <br> Prof. Dragutin Petkovic, Anthony John Souza
                          <br> San Francisco State University

                        </p>
                    </div>
                </div>

            </div>
        </div>
    </section>
  </div>
    <!-- about section ends -->


    <!-- Footer Starts -->
    <footer id="footer">
        <div class="container">

            <div >
                <p >
                    Team 04 - CSC648-848
                </p>
            </div>

        </div>
    </footer>
    <!-- Footer Ends -->




</body>
</html>
