
<!--Home.hbs
//  CSC648-su19-Team04
//  The Better City
//  Created by Soham on 7/28/19.
//  Copyright © CSC-648/848 Team 04. All rights reserved.
-->

<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="img/favicon.png" type="image/png">
  <title>The Better City</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/themify-icons.css">
  <link rel="stylesheet" href="css/flaticon.css">

  <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="vendors/animate-css/animate.css">
  <link rel="stylesheet" href="vendors/popup/magnific-popup.css">

  <!-- main css -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link rel="stylesheet" href="css/pagination.css">
  <!-- js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://github.com/yckart/jquery.storage.js"></script>
  <script type="text/javascript" src="js/sessionStorage.js"></script>
  <script type="text/javascript" src="js/filterOption.js"></script>
  <script type="text/javascript" src="js/pagination.js"></script>
  <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>

</head>

<body>

  {{> header}}

  {{> navbar}}

  <!-- Title of page -->
  <section class="d-flex justify-content-center">
    <h3>Submit Issue</h3>
  </section>

  <!-- Submit issue section -->
  <section class="d-flex justify-content-center">
    <div class="container w-50">
      <div class="row d-flex justify-content-center">
        <form class="form w-75">
          <div class="form-group">
            <label for="title">Title <font color="red">*</font></label>
            <input type="text" class="form-control" placeholder="Title" maxlength="50" pattern="^[0-9a-zA-Z.-]*" required>
          </div>
          <div class="form-group">
            <label for="location">Location<font color="red">*</font></label>
            <select class="form-control" required>
              <option>Harrison Park</option>
              <option>Delores Park</option>
              <option>Hunters park</option>
              <option>Blakewater Park</option>
              <option>El Derado Park</option>
            </select>
          </div>
          <div class="form-group">
            <label for="category">Category <font color="red">*</font></label>
            <select class="form-control" required>
              <option>Litter</option>
              <option>Water Pollution</option>
              <option>Bio-Hazards</option>
              <option>Broken City Property</option>
              <option>Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="imageUpload">Upload Image</label>
            <input type="file" class="form-control-file">
          </div>
          <div class="form-group">
            <label for="description">Description<font color="red">*</font></label>
            <textarea class="form-control" rows="3"></textarea>
          </div>
          <button type="submit" class="form-control btn btn-primary w-25" name="button">Submit</button>
        </form>
      </div>
    </div>
  </section>

  {{> footer}}


</body>

</html>
