<!--Home.hbs
//  CSC648-su19-Team04
//  The Better City
//  Created by Soham on 7/28/19.
//  Copyright © CSC-648/848 Team 04. All rights reserved.
-->

<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="img/favicon.png" type="image/png">
  <title>The Better City</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/themify-icons.css">
  <link rel="stylesheet" href="css/flaticon.css">

  <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="vendors/animate-css/animate.css">
  <link rel="stylesheet" href="vendors/popup/magnific-popup.css">

  <!-- main css -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link rel="stylesheet" href="css/pagination.css">
  <!-- js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://github.com/yckart/jquery.storage.js"></script>
  <script type="text/javascript" src="js/sessionStorage.js"></script>
  <script type="text/javascript" src="js/filterOption.js"></script>
  <script type="text/javascript" src="js/pagination.js"></script>
    <script type="text/javascript" src="js/checkLogInStatus.js"></script>
  <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144899618-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-144899618-1');

  </script>


  <script>
    var loggedInId = '';
    var loggedInName = '';
    $(document).ready(function () {
      loggedInId = '{{session.user.id}}';
      loggedInName = '{{session.user.name}}';
      $('#logout').hide();
      $('#hiUser').hide();



                   if(loggedInName!=''){
                     $('#hiUser').show();
                     $("[data-target='#loginModal']").hide();
                      $('#logout').show();
                  }

    });

  </script>


</head>

<body>

  {{> header}}

  {{> navbar}}

  <!-- Title of page -->
  <section class="d-flex justify-content-center">
    <h3>Submit Issue</h3>
  </section>

  <!-- Submit issue section -->
  <section class="d-flex justify-content-center">
    <div class="container w-50">
      <div class="row">
        <form class="form w-100" action="/postIssue" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="title">Title <font color="red">*</font></label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Title" maxlength="50"
              pattern="^[0-9a-zA-Z.-\s]*" required>
          </div>

          <div class="form-group">
            <label for="location">location <font color="red">*</font></label>
            <select class="form-control" name="location" required>
              <option name="Golden Gate Park" value="Golden Gate Park">Golden Gate Park</option>
              <option name="Mission Dolores Park" value="Mission Dolores Park">Mission Dolores Park</option>
              <option name="Grandview Park" value="Grandview Park">Grandview Park</option>
              <option name="Pioneer Park" value="Pioneer Park">Pioneer Park</option>
              <option name="Other" value="Other">Other</option>
            </select>
          </div>

          <div class="form-group">
            <label for="category">Category <font color="red">*</font></label>
            <select class="form-control" name="category" required>
              <option name="Litter" value="Litter">Litter</option>
              <option name="Water Polution" value="Water Polution">Water Polution</option>
              <option name="Bio-Hazards" value="Bio-Hazards">Bio-Hazards</option>
              <option name="Broken City Property" value="Broken City Property">Broken City Property</option>
              <option name="Other" value="Other">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="imageUpload">Upload Image</label>
            <input type="file" class="form-control-file" name="photo" id="photo">
          </div>
          <div class="form-group">
            <label for="description">Description<font color="red">*</font></label>
            <textarea class="form-control" rows="3" name="description" id="description"></textarea>
          </div>

          <div class="form-group">
            <button id="postIssue" type="button" class="form-control" name="button">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>

  {{> footer}}


</body>

</html>