<!--Home.hbs
//  CSC648-su19-Team04
//  The Better City
//  Created by Soham on 7/28/19.
//  Copyright © CSC-648/848 Team 04. All rights reserved.
-->

<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="img/favicon.png" type="image/png">
  <title>The Better City</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/themify-icons.css">
  <link rel="stylesheet" href="css/flaticon.css">

  <link rel="stylesheet" href="vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="vendors/animate-css/animate.css">
  <link rel="stylesheet" href="vendors/popup/magnific-popup.css">

  <!-- main css -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/responsive.css">
  <link rel="stylesheet" href="css/pagination.css">
  <!-- js -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://github.com/yckart/jquery.storage.js"></script>
  <script type="text/javascript" src="js/sessionStorage.js"></script>
  <script type="text/javascript" src="js/filterOption.js"></script>
  <script type="text/javascript" src="js/pagination.js"></script>
  <script type="text/javascript" src="js/checkLogInStatus.js"></script>
  <script type="text/javascript" src="js/loginSession.js"></script>
  <script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>


  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144899618-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-144899618-1');
  </script>

  <script>
    var loggedInId = '';
    var loggedInName = '';
    $(document).ready(function() {
      loggedInId = '{{session.user.id}}';
      loggedInName = '{{session.user.name}}';
      $('#logout').hide();
      $('#hiUser').hide();



      if (loggedInName != '') {
        $('#hiUser').show();
        $("[data-target='#loginModal']").hide();
        $('#logout').show();

      }

      $('#locationDropdown').on('change', function(value) {
        if(this.value == 'Other') {
          $('#otherLocation').show();
        } else {
          $('#otherLocation').hide();
        }
      });
    });
  </script>


</head>

<body>
  {{> header}}

  {{> search}}

  <!-- Start header Menu Area -->
  <header class="header_area">
    <div class="main_menu">
      <nav class="navbar navbar-expand-lg navbar-light" style="height:7%">
        <div class="container" style="border-bottom:1px solid lightgray;height:70%">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item active"><a class="nav-link" href="/submitIssue">Submit Issues</a></li>
              <li class="nav-item"><a class="nav-link" href="/aboutUs">About Us</a></li>
              <li class="nav-item"><a class="nav-link" href="/contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
        </nav>
    </div>
  </header>

  <!-- Title of page -->
  <section class="d-flex justify-content-center">
    <h3>Submit Issue</h3>
  </section>
  <p class="container w-50" style="text-align: left">
    <font color="red">* These fields are required.</font>
  </p>
  <!-- Submit issue section -->
  <section class="d-flex justify-content-center">
    <div class="container w-50">
      <div class="row">
        <form class="form w-100" action="/postIssue" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="title">Title <font color="red">*</font></label>
            <input type="text" class="form-control" name="title" id="title" placeholder="Title" maxlength="50"
              pattern="^[0-9a-zA-Z.-\s]*" required>
          </div>

          <div class="form-group">
            <label for="location">location <font color="red">*</font></label>
            <select class="form-control" name="location" required id="locationDropdown">
              <option value="" selected="selected">Select a Park or Location</option>
              <option name="Golden Gate Park" value="Golden Gate Park">Golden Gate Park</option>
              <option name="Mission Dolores Park" value="Mission Dolores Park">Mission Dolores Park</option>
              <option name="Grandview Park" value="Grandview Park">Grandview Park</option>
              <option name="Pioneer Park" value="Pioneer Park">Pioneer Park</option>
              <option name="Other" value="Other">Other</option>
            </select>
          </div>

          <div class="form-group" id="otherLocation" style="display:none">
            <label for="location"></label>
            <input class="form-control" type="text" name="other" placeholder="Specify other location" maxlength="50" required>
          </div>

          <div class="form-group">
            <label for="category">Category <font color="red">*</font></label>
            <select class="form-control" name="category" required>
              <option value="" selected="selected">Select a Category</option>
              <option name="Litter" value="Litter">Litter</option>
              <option name="Water Polution" value="Water Polution">Water Polution</option>
              <option name="Bio-Hazards" value="Bio-Hazards">Bio-Hazards</option>
              <option name="Broken City Property" value="Broken City Property">Broken City Property</option>
              <option name="Other" value="Other">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="imageUpload">Upload Image</label>
            <input type="file" class="form-control-file" name="photo" id="photo">
          </div>
          <div class="form-group">
            <label for="description">Description (300 Characters Max) <font color="red">*</font></label>
            <textarea class="form-control" rows="3" name="description" id="description" maxlength="300"
              required></textarea>
          </div>

          <div class="form-group">

          </div>

          <div class="d-flex justify-content-between">
            <button type="button" class="form-control w-25" name="button"><a href="/">Cancel</a></button>
            <button id="postIssue" type="button" class="form-control btn btn-primary w-25" name="button">Submit</button>
          </div>

        </form>
      </div>
    </div>
  </section>

  {{> footer}}


</body>

</html>