/*
  pagination.css
  CSC648-su19-Team04
  The Better City
  Created by Maithri on 7/28/19.
  Copyright © CSC-648/848 Team 04. All rights reserved.
*/

/* DynamicPagetion Style.CSS  */


	.layui-box a {
		padding: 5px 10px;
		text-decoration-line:none;
		background-color: #f4f4f5;
		margin-left: 5px;
		color: #606266;
		border-radius: 2px;
	}

	.layui-box  .aaa {
		background-color: #58C7C7;
		color: #fff;
	}
